* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}
h1 {
  font-size: 40px;
}
body {
  background-color: #f9eeff;
  width: 100%;
  height: 100%;
  position: relative;
}
.button {
  float: right;
  background-image: url("/assets/images/icon-plus.svg");
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}
.button:hover {
  cursor: pointer;
}

.faq {
  position: absolute;
  top: 60%;
  left: 35%;
  padding: 20px;
  font-family: myFirstFont;
  width: 512px;
  background-color: white;
  border-radius: 20px;
  z-index: 2;
}
.background {
  width: 100%;
  height: 100%;
  z-index: 2;
}
.background-image {
  width: 100%;
  height: 100%;
}
.faqQuestions {
  list-style: none;
  font-size: "8px";
  margin-bottom: 40px;
}
.question {
  font-weight: bold;
}
.answer {
  display: none;
  transition: transform 3s ease;
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  .faq {
    width: 400px;
    height: 600px;
    left: 10%;
    top: 15%;
    padding: 10px;
    font-size: "14px";
  }
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
  .faq {
    width: 600px;
    height: 500px;
    left: 20%;
    top: 15%;
    padding: 10px;
    font-size: "14px";
  }
}
